.episode-details {
    justify-content: left;
    margin-top: 50px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    padding: 0px 20px;
    margin-right: 10px;
    padding-bottom: 20px;
    height: fit-content;
}