.episodes-box {
    justify-content: left;
    margin-top: 50px;
    width: 100%;
}

.num-episodes {
    font-weight: bold;
    font-size: large;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    padding: 5px 15px;
    text-align: left;
    margin-bottom: 20px;
}

.view-episodes {
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    height: fit-content;
}

.view-episodes a:link {
    text-decoration: none;
    color: #46a6ff;
}

.view-episodes a:visited {
    text-decoration: none;
    color: #46a6ff;
}

.table-episodes .ant-table {
    font-size: 12px;
}
