.header-columns {
    display: flex;
    align-items: left;
    text-align: left;
}

.linkHome { 
    flex: 1;
    font-size: larger;
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
    color: rgb(25, 90, 181) !important;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}