.image-box {
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 20%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: fit-content;
}

img {
    width: 150px;
    border-radius: 5px;
}

.podcastTitle {
    font-weight: bold;
    margin-left: 10px;
}

.desc {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.descTitle {
    font-weight: bold;
}